@import '../../../breakpoints.scss';
@import '../../../variables.scss';

.welcome-page {
  padding: 60px 25px 40px;
  max-width: 1000px;

  @include at ($min, $phone) {
    padding-top: 125px;
    padding-bottom: 50px;
  }

  .largeLogo {
    margin-bottom: 40px;
  }
}

.welcome-page__subtitle {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16667;
  color: $secondary-color;

  @include at ($min, $phone) {
    margin-bottom: 50px;
    font-size: 48px;
  }
}

.welcome-page__subtitle_margin_left {
  @include at ($min, $phone-xl) {
    margin-left: 200px;
  }
}

.welcome-page__control-block {
  max-width: 515px;
  width: 100%;
  margin-bottom: 30px;

  @include at ($min, $phone) {
    margin-bottom: 50px;
  }
}

.welcome-page__control-block-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-page__control-block-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.16667;

  @include at ($max, $phone-xl - 1) {
    margin-bottom: 15px;
  }

  @include at ($min, $phone) {
    font-size: 24px;
  }
}

.welcome-page__control-block-text_block {
  display: block;
  margin-bottom: 15px;
}

.welcome-page__control-block-subtext {
  color: $secondary-color;
}

.welcome-page .welcome-page__control-block-field {
  flex: 1 0 200px;
  margin-bottom: 15px;
}

.welcome-page .welcome-page__control-block-btn {
  max-width: 240px;
  width: 100%;
  margin-bottom: 15px;
}