@mixin at($constraint, $viewport1, $viewport2: null) {
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

$min: min-width;
$max: max-width;

$phone-sm: 320px;
$phone-md: 375px;
$phone-lg: 425px;
$phone-xl: 480px;
$phone: 640px;
$tablet: 768px;
$lap: 1024px;
$desk: 1200px;
$widescreen: 1440px;
$fullhd: 1920px;
