
/* COLORS ================================================================================ */

$primary-color: #2b3a67;
$secondary-color: #66999b;
// $accent-color: ;

/* VIEWPORT ================================================================================ */

$wrapper: 1440;

$desktop-container-gutter: 20;
$mobile-container-gutter : 10;
