@import '../../breakpoints.scss';

.welcome-page {
  padding: 60px 25px 40px;
  max-width: 1000px;

  @include at ($min, $phone) {
    padding-top: 125px;
    padding-bottom: 50px;
  }
}

.welcome-page__header {
  margin-bottom: 40px;

  @include at ($min, $phone) {
    display: flex;
    justify-content: center;
  }
}

.welcome-page__header-logo {
  @include at ($max, $phone - 1) {
    display: block;
    max-width: 80px;
    margin: auto;
  }

  @include at ($min, $phone) {
    margin-top: -60px;
    margin-right: 25px;
  }
}

.welcome-page__header-heading {
  position: relative;
  max-width: 420px;
  width: 100%;

  @include at ($max, $phone - 1) {
    margin: auto;
  }

  &::before {
    position: absolute;
    top: 65px;
    left: 30px;
    max-width: 350px;
    width: 100%;
    height: 10px;
    transform: rotate(345deg);
    content: "";
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @include at ($max, $phone - 1) {
      display: none;
    }
  }
}

.welcome-page__header-title {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.17143;

  @include at ($min, $phone) {
    font-size: 70px;
  }
}

.welcome-page__header-title-2 {
  text-align: right;
}

.welcome-page__subtitle {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16667;

  @include at ($min, $phone) {
    margin-bottom: 50px;
    font-size: 48px;
  }
}

.welcome-page__subtitle_margin_left {
  @include at ($min, $phone-xl) {
    margin-left: 200px;
  }
}

.welcome-page__control-block {
  max-width: 515px;
  width: 100%;
  margin-bottom: 30px;

  @include at ($min, $phone) {
    margin-bottom: 50px;
  }
}

.welcome-page__control-block-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-page__control-block-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.16667;

  @include at ($max, $phone-xl - 1) {
    margin-bottom: 15px;
  }

  @include at ($min, $phone) {
    font-size: 24px;
  }
}

.welcome-page__control-block-text_block {
  display: block;
  margin-bottom: 15px;
}

.welcome-page__control-block-field {
  flex: 1 0 200px;
  margin-bottom: 15px !important;
}

.welcome-page__control-block-btn {
  max-width: 240px;
  width: 100%;
  margin-bottom: 15px !important;
}