@import '../../breakpoints.scss';

.startPage {
  max-width: 1000px;
  padding: 60px 25px 40px;

  @include at ($min, $phone) {
    padding-top: 125px;
    padding-bottom: 50px;
  }

  .largeLogo {
    margin-bottom: 50px;

    @include at ($min, $phone) {
      margin-bottom: 70px;
    }
  }

  > button {
    display: flex;
    min-width: 270px;
    margin: 0 auto 15px;

    @include at ($min, $phone) {
      min-width: 320px;
    }
  }
}
