.AboutPage {
  height: calc(100vh - 162px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &_logo {
    width: 500px;
    height: 200px;
    background-image: url(../../../assets/images/poker.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &_text {
    width: 80vw;
    font: 20px Roboto, sans-serif;
  }
}
