.GameIssue {
  max-width: 270px;
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
}

.GameIssue__info {
  width: 140px;
}

.GameIssue__title {
  margin: 0;
  font-size: 20px;
}

.GameIssue__priority {
  font-size: 12px;
}

.GameIssue__score {
  
}