.Issue {
  width: 270px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
  &__info {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &_title {
      font: 20px Roboto, sans-serif;
    }
    &_priority {
      font: 12px Roboto, sans-serif;
    }
  }
}
