.queue {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border: 1px solid gray;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  &::-webkit-scrollbar {
    width: 5px;
    height: 15px;
    background-color: blanchedalmond;
  }

  &__person {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  &__addBtn {
    position: absolute;
    border-radius: 50%;
    border: 2px solid greenyellow;
    color: green;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    top: -8px;
    left: -8px;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0 5px greenyellow;
      transition: all 0.1s linear;
    }

    &:active {
      transform: scale(0.99);
      box-shadow: 0 0 10px rgb(131, 189, 44);
      transition: all 0.1s linear;
    }
  }
}