.selected {
  box-shadow: 0 0 8px rgb(219, 243, 0);
  max-width: 300px;
  width: 100%; 
}

.voting {
  box-shadow: 0 0 8px rgb(49, 243, 0);
  max-width: 300px;
  width: 100%; 
}

.card__wrapper {
  display: flex;
  width: 70%;
  justify-content: space-between;
}